* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
}


body {
	color: rgb(255, 255, 255);
	font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
	font-size: 18px;
}

/* Navigation Settings */
nav {
	bottom: 0;
	width: 100%;
	height: 70px;
    background: rgb(110, 110, 110);
    text-align: center;
}

nav li {
	display: inline-block;
    padding: 24px 10px;
}

nav li a {
	color: #ffffff;
    text-transform: uppercase;
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}