<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


  <section id="screen1">
    <nav>
       <ul>
     <li><a href="home">Home</a></li>
           <li><a href="doctors">Doctors</a></li>
           <li><a href="pacients">Pacients</a></li>
           <li><a href="login" *ngIf="isLoggedIn==false">Login</a></li>
           <li><input type="button" value="SignOut" (click)="signoutUser()" *ngIf="isLoggedIn==true"></li>          
       </ul>
    </nav>
  </section>
  <router-outlet></router-outlet>