<h1>Login</h1>
<div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="user.Login" class="form-control" />
</div>
<div class="form-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="user.Password" class="form-control" />
</div>
<div>
    <input type="button" value="Login" (click)="loginUser()" class="btn btn-success" />
</div>